<footer>
  CST336 Internet Programming. 2026&copy; Carreon<br />
  <p>CST336 Lab 4: Express (Solar System)</p>
  <p>
    Planet information from <code>npm-solarsystem</code>. Images courtesy of
    Wikimedia Commons.
  </p>
</footer>
